[submodule "external/luafilesystem"]
	path = external/luafilesystem
	url = https://github.com/lunarmodules/luafilesystem.git
[submodule "external/lua-cjson"]
        path = external/lua-cjson
        url = https://github.com/openresty/lua-cjson
[submodule "external/luasocket"]
	path = external/luasocket
	url = https://github.com/lunarmodules/luasocket.git
